.descriptionHeader.descriptionHeader,
.descriptionHeader .descriptionTitle {
  font-size: 15px;
}

.descriptionHeader.descriptionHeader {
  margin: 0 0 0.5em;
}

.descriptionLabel {
  width: 25%;
}

.descriptionContent {
  width: 75%;
}

.objectContent {
  font-size: 12px;
}

.minionList {
  margin: 0;
}

.minionId {
  display: inline-block;
  white-space: nowrap;
}

.minionTooltipRoot {
  max-width: 480px;
}

.minionTooltipBody {
  max-height: 240px;
  overflow: auto;
}
