.objectContent {
  font-size: 12px;
}

.minionList:global(.ant-typography) {
  margin-bottom: 0;
}

.minionId {
  display: inline-block;
  white-space: nowrap;
}

.minionTooltipRoot {
  max-width: 480px;
}

.minionTooltipBody {
  max-height: 240px;
  overflow: auto;
}
