.changeTag {
  flex-shrink: 0;
  margin-inline-end: 0;
  font-weight: 400;
}

.files
  :global(
    .ant-list-item .ant-list-item-meta .ant-list-item-meta-content .ant-list-item-meta-title
  ) {
  margin-bottom: 0;
}

.files .path {
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
}
