.checking {
  padding-block: 32px;
}

.upToDate:global(.ant-result) {
  padding: 24px 16px;
}

.upToDate:global(.ant-result) :global(.ant-result-icon) {
  margin-bottom: 12px;
}

.upToDate:global(.ant-result) :global(.ant-result-icon > .anticon) {
  font-size: 40px;
}

.upToDate:global(.ant-result) :global(.ant-result-title) {
  font-size: 16px;
  line-height: 1.4;
}

.upToDate:global(.ant-result) :global(.ant-result-subtitle) {
  font-size: 13px;
}
