.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  overflow: hidden;
}

.title {
  margin-top: 0;
}

.formWrapper {
  flex: 1;
  overflow: auto;
}

.actions {
  margin-top: 16px;
}

.stateWrapper {
  padding: 16px;
}
