.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  overflow: auto;
}

.title {
  margin-top: 0;
}

.stateWrapper {
  padding: 16px;
}

.keyCell {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.row {
  cursor: pointer;
}

.value {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
