.markdownContent {
  overflow: auto;
  background-color: #fafafa;
  padding: var(--app-layout-gap);
  border: 1px solid #f0f0f0;
}

.markdownContent :global(li) {
  margin-left: 1rem;
}

.fileIcon {
  margin-right: calc(var(--app-layout-gap) * 0.5);
}

.dateTimeIcon {
  margin-right: calc(var(--app-layout-gap) * 0.5);
}