.card .title {
  flex: unset;
}

.cardDisconnected {
  background: #fbfbfb;
}

.dimmed {
  opacity: 0.8;
}

.card .extra {
  margin-inline-start: 10px;
}

.name {
  vertical-align: middle;
}

.avatar {
  font-weight: normal;
  margin-right: 6px;
}

.divider {
  margin: 7px 0 3px;
}
