.container {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
}

.minionId {
  color: #1677ff;
  cursor: default;
  font-size: 14px;
}

.actions {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  margin-left: auto;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s,
    opacity 0.15s ease-in-out;
}

:global(tr):hover .actions {
  visibility: visible;
  opacity: 1;
}
