.leftGroup,
.rightGroup {
  display: flex;
}

.rightGroup {
  gap: calc(var(--app-layout-gap) / 2);
  margin-left: auto;
}

.filtersActionsButtons {
  margin-bottom: 16px;
  display: flex;
}

.spinnerContainer {
  text-align: center;
  padding: 50px 0;
}
