.templateSkeletonList {
  width: 100%;
}

.templateSkeletonItem {
  padding: 10px;
  border-radius: 4px;
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
}

.templateSkeletonTitle :global(.ant-skeleton-title),
.templateSkeletonDescription :global(.ant-skeleton-paragraph) {
  margin-block: 0;
}

.templateSkeletonFooter {
  width: 100%;
  margin-top: 4px;
}
