.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  width: 100%;
  overflow: hidden;
}

.toolbarActions {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  gap: calc(var(--app-layout-gap, 16px) / 2);
}

.toolbarActions :global(button) {
  margin-right: 0;
}

.toolbarActions :global(.fast-table-toolbar) {
  margin-left: 0;
  padding-left: 0;
}

.table {
  min-height: 0;
}
