.layout {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.spinWrapper.spinWrapper {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.spinWrapper.spinWrapper > :global(.ant-spin-container) {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.spinWrapper.spinWrapper .spinner {
  max-height: 100%;
}
