.infoDescription .infoDescriptionLabel {
  width: 250px;
}

.infoDescription .infoDescriptionLabel,
.infoDescription .infoDescriptionContent {
  background-color: transparent !important;
  transition: background-color 0.15s ease-in-out;
}

.infoDescription :global(.ant-descriptions-row:hover) .infoDescriptionLabel,
.infoDescription :global(.ant-descriptions-row:hover) .infoDescriptionContent {
  background-color: #fafafa !important;
}
