.args {
  display: flex;
}

.args :global(.ant-space-item:has(> input)) {
  flex: 1;
}

.jobParamsForm :global(#job-params-form) fieldset {
  border: none;
}

.jobParamsForm label[for="job-params-form__title"] {
  display: none;
}

.jobParamsForm :global(#job-params-form) {
  border: none;
  padding: 0;
  background-color: none;
}

.jobParamsForm :global(.ant-form-item-extra) {
  font-size: 12px;
  line-height: 14px;
  padding-top: 4px;
}

.jobParamsForm :global(button.array-item-remove),
.jobParamsForm :global(button.object-property-expand),
.jobParamsFrom :global(button.array-item-add) {
  width: 32px;
}

.jobParamsForm :global(button.array-item-remove) {
  margin-top: 23px;
}

.jobFormTgtType {
  width: 20%;
}

.jobFormTgt {
  width: 80%;
}

.jobFormGather {
  margin-top: 24px;
}

.helpIcon {
  cursor: help;
  color: var(--ant-color-text-tertiary, #8c8c8c);
}
