.tableActions {
  display: flex;
  align-items: center;
  gap: calc(var(--app-layout-gap, 16px) / 2);
  margin-left: auto;
}

.tableActions :global(button) {
  margin-right: 0;
}

.tableActions :global(.fast-table-toolbar) {
  margin-left: 0;
  padding-left: 0;
}
