.jobReturnTableWrapper :global(.fast-table table > thead > tr > th:first-child) {
  width: 1%;
}

.descriptionsContainer {
  margin-bottom: 0.67em;
}

.switchContainer {
  justify-content: flex-end;
  margin-bottom: 16px;
}

.switchWrapper {
  align-items: center;
  gap: 8px;
}