.jobResultContent {
  padding: 5px;
}

.jobResultContentNormal {
  background-color: #f0f0f0;
}

.jobResultContentSuccess {
  background-color: #f6ffed;
}

.jobResultContentError {
  background-color: #fff1f0;
}

.jobReturnCommand {
  font-weight: 600;
}
