.anchor {
  display: inline-flex;
  align-items: center;
  margin-left: calc(var(--app-layout-gap, 16px) / 2);
}

.anchor:first-child {
  margin-left: auto;
}

.anchor :global(.ant-btn) {
  margin-right: 0;
}

.anchor + :global(.fast-table-toolbar) {
  margin-left: 0;
}
