.taskTabs,
.taskTabs :global(.ant-tabs-content),
.taskTabs :global(.fast-table),
.taskTabs :global(.ant-tabs-tabpane),
.taskTabs :global(.ant-tabs-tabpane-active),
.taskTabs :global(.ant-spin-container) {
  height: 100%;
}

.jobReturnsControls {
  justify-content: flex-end;
  margin-bottom: 16px;
}

.jobReturnsControlsInner {
  align-items: center;
  gap: 8px;
}

.badge {
  margin-top: -11px;
}