.minionDetailsDashboard :global(.ant-collapse .ant-descriptions-view) {
  border: none;
}

.interfaceBlock {
  margin: 8px 0;
  padding: 8px;
  border-left: 3px solid #1890ff;
  background: #fafafa;
}

.interfaceDetails {
  margin-left: 16px;
  margin-top: 4px;
  list-style: none;
}

.minionDetailsGrainButtons {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s,
    opacity 0.15s ease-in-out;
}

:global(.ant-descriptions-item-content:hover) .minionDetailsGrainButtons {
  visibility: visible;
  opacity: 1;
}
