.queryBuilder> :global(.ruleGroup) {
  border-style: none;
  background: none;
}

.queryBuilderContainer {
  border-color: var(--rqb-border-color);
  border-style: var(--rqb-border-style);
  border-radius: var(--rqb-border-radius);
  background: var(--rqb-background-color);
  border-width: var(--rqb-border-width);
  margin-bottom: var(--app-layout-gap);
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: calc(var(--app-layout-gap) / 2);
}