.templates :global(.ant-list-items) {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.templates .templateItem:not(:last-child) {
  margin-bottom: 0;
}

.templates .templateItem {
  gap: 40px;
  padding: 10px;
  border-radius: 4px;
  background-color: #fafafa;
  border: 1px solid #e0e0e0;

  transition:
    border-color 200ms,
    background-color 200ms;

  &:hover {
    background-color: #f5f5f5;
    border-color: #ccc;
  }
}

.templates .templateItemClickable {
  cursor: pointer;
}

.templates .templateItemDisabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.templates .templateItemDisabled:hover {
  background-color: #fafafa;
  border-color: #e0e0e0;
}

.templates .templateItemActive {
  background-color: #f5f8ff;
}

.templates .templateItem :global(.ant-list-item-meta-content .ant-list-item-meta-title),
.templates .templateItem :global(.ant-list-item-meta-content .ant-list-item-meta-description) {
  font-size: 13px;
  line-height: 1.25;
  margin: 0;
}

.templates .templateItem :global(.ant-list-item-meta-content .ant-list-item-meta-title) {
  margin-bottom: 4px;
}

.accessibilityTag {
  margin: 0;
  flex-shrink: 0;
  font-weight: 400;
}

.templateItemTags > :global(.ant-tag:last-child) {
  margin-inline-end: 0;
}

.templatesConstrained :global(.ant-spin-nested-loading),
.templatesConstrained :global(.ant-spin-container),
.templatesConstrained :global(.ant-list-items) {
  max-height: 500px;
  overflow: auto;
}
