.advancedSettings {
  margin-bottom: var(--app-layout-gap, 16px);
}

.spinnerContainer {
  text-align: center;
  padding: 32px 0;
}

.jobParamsForm label[for="job-params-form__title"] {
  display: none;
}

.jobParamsForm :global(.ant-form-item-extra) {
  font-size: 12px;
  line-height: 14px;
  margin-top: 5px;
}

.jobFormTgtType {
  width: 20%;
}

.jobFormTgt {
  width: 80%;
}

.jobFormGather {
  margin-top: calc(var(--app-layout-gap) / 3 + 23px);
}
