.descriptionHeader.descriptionHeader {
  margin: 0;
  margin-bottom: 0.5em;
}

.descriptionLabel {
  width: 25%;
}

.descriptionContent {
  width: 75%;
}

.divider {
  margin: 0;
}

.objectContent {
  margin: 0;
  width: 0;
  flex: 1;
  overflow-x: auto;
  font-size: 12px;
}
