.fieldlessSchemaLabel {
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.fieldlessSchemaDescription {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 1.5714285714285714;
  margin-top: 1rem;
}
