.descriptionHeader.descriptionHeader {
  margin: 0;
  margin-bottom: 0.5em;
}

.descriptionLabel {
  width: 25%;
}

.descriptionContent {
  width: 75%;
}

.divider {
  margin: 0;
}

.objectContent {
  margin: 0;
  width: 0;
  flex: 1;
  overflow-x: auto;
  font-size: 12px;
}

.minionList {
  margin: 0;
}

.minionId {
  display: inline-block;
  white-space: nowrap;
}

.minionTooltipRoot {
  max-width: 480px;
}

.minionTooltipBody {
  max-height: 240px;
  overflow: auto;
}
