.root {
  max-height: calc(100vh - 300px);
  min-height: 300px;
}

.templateList {
  overflow: auto;
  flex: 1;
  height: 100%;
}

.listItem {
  cursor: pointer;
}

.listItemPart.listItemPart {
  margin: 0;
}

.repoBadge.repoBadge {
  background-color: #108ee9;
}
