.slsParamsForm {
  border: none;
  padding: 0;
  background-color: none;
}

.slsParamsForm :global(fieldset) {
  background-color: rgba(230, 244, 255, 0.05);
  border-color: #f0f0f0;
  margin-left: 0;
  margin-right: 0;
}

.slsParamsForm :global(.ant-form-item-extra) {
  font-size: 12px;
  line-height: 14px;
  padding-top: 4px;
}
