.tabWrapper {
  flex: 1;
  min-height: 0;
}

.minionIdButton {
  padding: 0;
}

.minionIdNavigationLink {
  display: inline-block;
  margin-left: -6px;
}

.minionIdCopyToClipboardButton {
  display: inline-block;
  margin-left: -1px;
}
