.tabWrapper {
  flex: 1;
  min-height: 0;
}

.actionsRow {
  width: 100%;
}

.leftGroup,
.rightGroup {
  display: flex;
  align-items: center;
}

.rightGroup {
  gap: calc(var(--app-layout-gap, 16px) / 2);
  margin-left: auto;
}

.selectedCounter {
  margin-left: var(--app-layout-gap, 16px);
}

.rightGroup :global(button) {
  margin-right: 0;
}

.rightGroup :global(.fast-table-toolbar) {
  margin-left: 0;
  padding-left: 0;
}

.minionIdButton {
  padding: 0;
}

.minionIdNavigationLink {
  display: inline-block;
  margin-left: -6px;
}

.minionIdCopyToClipboardButton {
  display: inline-block;
  margin-left: -1px;
}

.createButton :global(.ant-btn-loading-icon) {
  width: 20px;
}
